
<div class="container">
  
  <div class="row pt-2">
    <div class="col-12 col-lg-8" >
       
        <div *ngIf="careersList;else noresults" id="search" >
        
            <div *ngFor = "let career of careersList" class="mb-3">
                <a class="no-decoration"
                [routerLink]="['/showDetail/',career.job_id]" 
                (click)="gotodetails(career.job_id)"
                routerLinkActive="active"
                >
                <div class="card p-4 bg-color career-card">
                    <span class="s2">
                      <strong>{{career.city}}</strong>
                        <i class="material-icons ">
                          chevron_right
                        </i>
                      <span>{{career.suburb}}</span>
                    </span>
                    
                    <p class="m2" style="color:#4444fa">
                        {{career.job_title}}
                    </p> 
                    <p class="overflow-hidden s1">{{career.job_subtitle}}</p>
                    <div class="row">
                        <div class="col-12 col-md-6 col-l-6 col-xl-6 s2">
                          <p><span class="font-bold">Compensation: </span>{{career.compensation}}</p>
                        </div>
                        <div class="col-12 col-md-6 col-l-6 col-xl-6 s2">
                          <p><span class="font-bold">Job type: </span>{{career.job_name}}</p> 
                        </div>
                    </div>
                    

                      
                      <p class="overflow-hidden s2">{{career.job_description}}</p>

                    <p class="overflow-hidden s2"><span class="font-bold"></span>{{career.updated_at | date :'medium'}}</p> 
                </div>
              
              </a> 
              </div>
        </div>
     
        <ng-template #noresults style="color:red;font-weight:bold;"><div>{{errorMessage}}</div></ng-template>
    </div>


    <div class="col-bg col-lg-4 hidden-md hidden-s hidden-xs">

  </div>
</div>

<!--pagination part-->
<app-pagination 
  [currentPage] = "currentPage" 
  [pageNumber]="pageNumber" 
  [pages]="pages" 
  [totalPosts]="totalPosts"
  [perPage]="perPage"
  (getthePage)="getPage($event)"
  [class.bg-color]="bg-color"
  >
</app-pagination>

