.container {
    max-width: 80.9em;
}

.overflow-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow:hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}



.font-bold{
    font-weight:bold
}
.material-icons {
    font-size: 24px; 
    color:grey;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}
.no-decoration{
    text-decoration: none;
}

.bg-color{
    background-color:#f2f2f2;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}

.career-card:hover{
    background-color:#fff;
   transform:scale(1.025);
    transition: all .5s ease-in-out;
}
.flex-horizontal{
    display:flex;
    align-content:flex-start;
}