
  <div class="container pt-5" *ngIf="careerDetail;else noresults">
    <div class="row pt-2">
      <div class="col-xl-8 col-lg-8 col-12">
        <div id="roleDescription" class="border radius bg-color p-3 s2">
              <p class="m2">{{careerDetail.job_title}}</p>
              <p class="s1">{{careerDetail.job_subtitle}}</p> 
              <hr>
              
              <span class="font-bold">Job Description: </span>
              <p [innerHtml]="job_description"></p>
              <hr>

              <span class="font-bold">Job Requirement: </span>
              <p [innerHtml]="job_requirement"></p>
              <hr>

              <p><span class="font-bold"></span>{{careerDetail.updated_at | date :'medium'}}</p> 
          </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-12">
        <div class="border radius bg-color p-4">
          <div id="jobType" class="s2">
              <span class="font-bold">Location:</span>
              <p>{{careerDetail.city}}</p>
              <hr>
              <span class="font-bold">Compensation:</span>
              <p>{{careerDetail.compensation}}</p>
              <hr>
              <span class="font-bold">Job Type:</span>
              <p>{{job_type}}</p>
              <hr>
          </div>        
          
          <div id="Apply" class="text-center">
              <button mat-raised-button color="accent" class="m1 text-center button-size">Apply for this job</button>
          </div>
        </div>
      </div>
    
    
      <ng-template #noresults style="color:red;font-weight:bold;"><div>{{errorMessage}}</div></ng-template>
    </div>
  </div>
