

.bg-color{
    background-color:#fff;
}
.container {
    max-width: 80.9em;
}
.font-bold{
    font-weight:bold;
}
#company img{
    width:5.5em;
}
.button-size{
    width:85%;
    height:45px;
}

@media (max-width:434px){
    .m1{
        font-size:16px;
    }
}
