<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top set-hight border">
    <a class="navbar-brand" href="#" style="color:#469ae9;font-weight:bold">Navbar</a>
    <button 
      class="navbar-toggler hidden-lg-up" 
      type="button" 
      data-toggle="collapse" 
      data-target="#collapsibleNavId" 
      aria-controls="collapsibleNavId"
      aria-expanded="false" 
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:#469ae9;font-weight:bold">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#469ae9;font-weight:bold">Link</a>
        </li>
      </ul>

    </div>
  </nav>
