
<nav class="navbar navbar-expand-xl navbar-light bg-white height border">
    <span class="navbar-toggler hidden-lg-up m2">Filter</span>
      <button 
        class="navbar-toggler hidden-lg-up" 
        type="button" 
        data-toggle="collapse" 
        data-target="#collapsibleId" 
        aria-controls="collapsibleId"
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
  
  
      <div class="collapse navbar-collapse bg-white" style="z-index:100" id="collapsibleId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 row box-border" >
            <li class="nav-item col-xl-2 col-l-2 col-md-12 col-sm-12 col-12  pl-1 pr-1">
                <div class="text-center responsive-border border-bt">
                    <div 
                      id="classification"
                      class="responsive-border"
                      (click)="clickExpandDropDown()"
                      (clickOutside)="close($event)"
                    >  
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="select a classification" [value]="ClassificationName">  
                      </mat-form-field>
                      
                    </div>
                    <div
                     
                      class="border radius"
                      style="position:absolute;top:85px;z-index:1000;" 
                      [ngClass]="displayMatTree?'display':'not-display'"
                    >
                      <app-mat-tree ></app-mat-tree>
                    </div>
                </div>
            </li>
  
            <li class="nav-item col-xl-2 col-l-2 col-md-12 col-sm-12 col-12 pl-1 pr-1">
                <div id="city"class="text-center responsive-border border-bt" >
                  <div class="responsive-border">
                  <mat-form-field>
                    <mat-select 
                      placeholder="select a city" 
                      [(ngModel)]="selectedCity" 
                    >
  
                      <mat-option *ngFor="let city of cities" [value]="city.cityName">
                        {{city.cityName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                </div>
            </li>
  
            <li class="nav-item col-xl-2 col-l-2 col-md-12 col-sm-12 col-12 pl-1 pr-1">
              <div id="key-words" class="text-center responsive-border border-bt">
                <div class="responsive-border">
                <mat-form-field >
                  <input matInput type="search" placeholder="Key words" [(ngModel)]="value" (change)="getKeyWords(value)">
                </mat-form-field>
              </div>
            </div>
            </li>
            <li class="nav-item col-xl-1 col-l-1 col-md-12 col-sm-12 col-12 text-center ">
                <div class="ml-2 mr-2 border-bt">
                      <img class="responsive-display" src="https://cdn.verbling.com/static/svg/icons8/f1646c39d432f286762241f9514117f4.icons8-banknotes.svg"/>
                      <mat-select 
                      placeholder="Compensation"
                      [(ngModel)]="compensationType"
                      disableRipple
                    >
                      <mat-option *ngFor="let compensation of compensations" [value]="compensation.compensationtype">
                        {{compensation.compensationtype}}
                      </mat-option>
                    </mat-select>
                </div>
            </li>
            <li class="nav-item col-xl-1 col-l-1 col-md-12 col-sm-12 col-12 text-center ">
                <div class="ml-2 mr-2 border-bt">
                    <img class="responsive-display" src="https://cdn.verbling.com/static/svg/icons8/1f97fa260915623eb6f064e265046086.icons8-add_to_favorites.svg"/>
                    <mat-select 
                      placeholder="Job Type"
                      [(ngModel)]="jobType"
                      disableRipple
                    >
                      <mat-option  *ngFor="let jobtype of jobtypes" [value]="jobtype.jobtype">{{jobtype.jobtype}}</mat-option>
                    </mat-select>
                </div>
              </li>
              <li class="nav-item col-xl-1 col-l-1 col-md-12 col-sm-12 col-12 text-center ">
                  <div class="ml-2 mr-2 border-bt">
                      <img class="responsive-display" src="https://cdn.verbling.com/static/svg/icons8/36ee39b9832072e0483656201c2bdeca.icons8-talk_female.svg"/>
                    <mat-select 
                      placeholder="Employer Type"
                      [(ngModel)]="employerType"
                      disableRipple
                    >
                      <mat-option *ngFor="let employertype of employertypes" [value]="employertype.employertype">{{employertype.employertype}}</mat-option>
                    </mat-select>
                </div>
                </li>
                <li class="nav-item col-xl-1 col-l-1 col-md-12 col-sm-12 col-12 text-center ">
                    <div class="ml-2 mr-2  border-bt">
                        <img class="responsive-display" src="https://cdn.verbling.com/static/svg/icons8/4921cda723b28e5223706f350a370791.icons8-location.svg"/>
                      <mat-select 
                        placeholder="Location Type"
                        [(ngModel)]="locationType"
                        disableRipple
                      >
                        <mat-option *ngFor="let locationtype of locationtypes" [value]="locationtype.locationtype">{{locationtype.locationtype}}</mat-option>
                      </mat-select>
                  </div>
                  </li>
                  <li class="nav-item col-xl-2 col-l-2 col-md-12 col-sm-12 col-12 flex">
                    <div class="ml-2 mr-2"  (click)="searchCareer()">
                      <a 
                        style="width:180px;"
                        class="btn btn-primary text-center"
                        [routerLink]="['/searchCareer']"
                        [queryParams]="{careerclassification:ClassificationName,city:selectedCity,keywords:keyWords,jobtype:jobType,compensationtype:compensationType,employertype:employerType,locationtype:locationType}"
                        routerLinkActive="active" 
                      >
                     <p class="font-style">Search</p>
                      </a>
                    </div>
                  </li>
          </ul>
    
        </div>
      </nav>
    
  
  