.jumbotron{
    background-color:#fff;
    border:none;
}
.height{
    height:120px;
}
.bg-white{
    background-color:#fff;
}
.font-style{
    font-size:20px;
    color:white;
    font-weight:bold;
}
img{
    width:30px;
    height:30px;
}
.padding{
    padding-left:60px;
    padding-right:60px
}
.border-bt{
    height:55px;
    border-bottom:1px solid lightgrey;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.not-display{
    display:none;
}
.display{
    display:block;
}


@media (min-width:1200px){
    .responsive-border{
        border:1px solid lightgrey;
        border-radius:10px;
    }
    .responsive-display{
        display:block
    }
    .border-bt{
        border:none;
    }
    
}
@media (max-width:1199px){
    .responsive-border{
        border:none;
    }
    .responsive-display{
        display:block
    }
    .border-bt{
        border-bottom:1px solid lightgrey;
    }
    .box-border{
        border:1px solid lightgrey;
        border-radius:10px;
        margin:5px 25px;
    }
}
@media (max-width:434px){
    .responsive-display{
        display:none
    }
}