
#pageBtn{
    /*color: #0099ff;*/
    /* background-color: white; */
    font-size: 13px;
    margin: 2px;
  }
  #pageBtn:hover{
    /*color: blue;*/
    border: 2px solid #007bff;
  }
  /* .btnBackground{
    background-color: #a3daff;
  } */
.bg-color{
  background-color:#f7f7f7;
}
  .material-icons {
    font-size: 24px; 
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

@media (max-width: 768px) {
    
    .material-icons {
        font-size: 18px; 
        display: inline-block;
        vertical-align: middle;
        transform: translateY(-.1em);
    }
    #pageBtn{
        font-size: 10px;
        margin: 2px;
      }
  }